# Gradle
.gradle/
build/
*.iml

# Android Studio
.idea/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file (sdk path, etc)
local.properties

# Log/OS files
*.log
*.DS_Store

# User-specific configurations
.vscode/
*.swp
*.swo
*~

# Kotlin
.kotlin/

# Build results
bin/
out/
